/****************************/
/** Styles du site Lafleur **/

/* Conteneur global avec options par defaut */
#main {
    background-color : blue;
    border: 1px black;
	margin: 0 auto;
}

section  {
	float:left;
	width:200px;
	height : 400px;
	background-color : lightgreen;
    border: 1px black;
}

aside {
	margin-left:200px;
	height : 400px;
	background-color : lightpink;
    border: 1px black;
}

p, h1, h2, h3 {
    text-align: center;
}

#produit {
	margin-left: auto; /* Centrer avec les 2 margin */
	margin-right: auto;
	border-collapse: collapse;
}

#produit tr td {
	text-align: center;
	margin: 0;
	padding: 0;
	border: 1px solid black;
	border-spacing: 0;
	padding: 0em 2em 0em 2em;
}

#envoyer {
	width: 80px;
	border-radius: 7px 7px 7px 7px;
	box-shadow: 3px 5px;
}

/* Header et Footer */
header, footer {
	clear : both; /* Retour dans le flux */
    height : 113px;
    padding: 0px;
	background-color : yellow;
    border: 1px black;
    text-align: center;
}

header > img {
	float: left;
	height: 100px;
}

#titre {
	padding: 10px;
    text-align: center;
    vertical-align: middle;
	background-color : lightblue;
}

/* Menu hotizontal */
#menu_horizontal li {
	display: inline-block;
	border: 1px solid blue;
	margin: 0;
	padding: 0px;
	width: 160px;
	height: 20px;
	border-radius: 10px 10px 0 0;
	list-style-type: none;
}


#menu_horizontal li:hover {
   background-image: linear-gradient(blue, white);
}

#menu_horizontal a {
	text-decoration: none;
	display: block;
	padding: 0px;
	color: blue;
}

#menu_horizontal a:hover {
	text-decoration: underline;
	color: white;
}
